*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E1D9D1;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
       
}

h1{
    color: black;
    font-style: oblique;
    text-decoration: underline;
    font-size: 30px;
}
h3{
    font-size: 10px;
}
h2{
    font-size: 20px;
}
h5{
    color: blue;
    text-decoration: underline;
}

.navContainer{
    width: 100vw;
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 32%);


    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   }
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2 rem;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.5 rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 25px;
    
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navItems{
    display: flex;
    gap: 20px;
    
}
.footerBox{
    background-color: rgb(99, 6, 6);
    color: azure;
    width: 100%;
    text-align: center;
    min-height: 20px;

}

.footerBox p{
    color: azure;
    font-size: 2 rem;
}
.contentBox{
    width: 90%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3 rem;
    box-shadow: 0px 0px 30px black;

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2 rem;
}
.ingBox{
    font-size: 1.4 rem;
}
.recipeBox{
    font-size: 1.2 rem;
}